* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", sans-serif;
}

[id] {
  scroll-margin-top: 100px;
}

#Main .btn-primary {
  color: white;
  background-color: #5bc0be;
  border: none;
}
#Main .btn-primary:hover {
  color: white;
  background-color: #49a1a0;
}
#Main .btn-orange {
  color: white;
  background-color: #ff8800;
  border: none;
}
#Main .btn-orange:hover {
  color: white;
  background-color: #df7700;
}
#Main .section-title {
  color: black;
  font-weight: bold;
}
#Main .img-circle {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

#Navbar {
  font-weight: bold;
}

#Hero {
  min-height: 100vh;
  padding-top: 100px;
  background-image: url("../assets/img/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Hero .hero-title {
  font-weight: bold;
  color: #ff8800;
  font-size: 3rem;
}

#About {
  margin-top: 150px;
  margin-bottom: 150px;
}

#MaterialSection {
  background-color: #f5f8fc;
}
#MaterialSection .card {
  min-height: 10rem;
  border: 3px solid #5bc0be;
  border-radius: 25px;
  transition: 0.5s;
}
#MaterialSection .card:hover {
  border: 3px solid white;
  background-color: #ff8800;
  color: white;
  transition: 0.5s;
  transform: translate(0, -10px);
}

#TimelineSection .hori-timeline .events {
  border-top: 3px solid #e9ecef;
}
#TimelineSection .hori-timeline .events .event-list {
  display: block;
  position: relative;
  text-align: center;
  padding-top: 70px;
  margin-right: 0;
}
#TimelineSection .hori-timeline .events .event-list:before {
  content: "";
  position: absolute;
  height: 36px;
  border-right: 2px dashed #dee2e6;
  top: 0;
}
#TimelineSection .hori-timeline .events .event-list .event-date {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  width: 75px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 2px 4px;
}
@media (min-width: 1140px) {
  #TimelineSection .hori-timeline .events .event-list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
  }
  #TimelineSection .hori-timeline .events .event-list .event-date {
    top: -12px;
  }
}
#TimelineSection .bg-soft-primary {
  background-color: #5bc0be !important;
}
#TimelineSection .card {
  border: none;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
  box-shadow: 0 0 13px 0 rgba(236, 236, 241, 0.44);
}

#CTASection {
  background-color: #f5f8fc;
  padding-top: 50px;
  padding-bottom: 50px;
}
#CTASection .card {
  background-color: #ffda95;
  border: none;
  border-radius: 25px;
}

#FooterSection .link {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  margin-bottom: 5px;
}
#FooterSection .link:hover {
  color: black;
}
#FooterSection .footer-socmed-link {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
  nav {
    background: white;
  }

  #Hero .hero-title {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
