* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", sans-serif;
}

[id] {
  scroll-margin-top: 100px;
}

#Main {
  // Global style
  .btn-primary {
    color: white;
    background-color: #5bc0be;
    border: none;
  }
  .btn-primary:hover {
    color: white;
    background-color: #49a1a0;
  }
  .section-title {
    color: black;
    font-weight: bold;
  }
  .img-circle {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}

#Navbar {
  font-weight: bold;
}

#Hero {
  min-height: 100vh;
  padding-top: 100px;
  background-image: url("../assets/img/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .hero-title {
    font-weight: bold;
    color: orangered;
    font-size: 3rem;
  }
}

#About {
  margin-top: 150px;
  margin-bottom: 150px;
}

#MaterialSection {
  background-color: rgb(245, 248, 252);
  .card {
    min-height: 10rem;
    border: none;
    border-radius: 25px;
  }
}

#CTASection {
  background-color: rgb(245, 248, 252);
  padding-top: 50px;
  padding-bottom: 50px;
  .card {
    background-color: rgb(255, 218, 149);
    border: none;
    border-radius: 25px;
  }
}

#FooterSection {
  .link {
    text-decoration: none;
    color: gray;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .link:hover {
    color: black;
  }
  .footer-socmed-link {
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 700px) {
  nav {
    background: white;
  }

  #Hero {
    .hero-title {
      font-size: 2rem;
    }
  }
}
